/*File CSS che definisce lo stile degli elementi da visualizzare all'interno della pagina "Sun"*/

body {
  background-color: #06011E;
}

/* Stile per la freccia */
.back-arrow {
  position: absolute; 
  top: 18%;
  left: 3%; 
  text-decoration: none; 
  font-size: 2rem; 
  color: #F8FFB8; 
}

/* Effetto hover per la freccia */
.back-arrow:hover {

  opacity: 1;
  filter: drop-shadow(0 0 15px #F8FFB8) drop-shadow(0 0 20px #F8FFB8) drop-shadow(0 0 35px #F8FFB8); /* Effetto di bagliore per la freccia*/
  transition: filter 0.3s ease;
}

