/*File CSS che definisce lo stile degli elementi da visualizzare nella pagina "Visualisation"*/

/*contenuto principale*/
.main-content {
  display: flex;
  flex-wrap: wrap;
  margin: 4vh 1vw;
  gap: 2vw;
  padding: 0 4vw; 
}

/* Box sinistro */
.left-box {
  flex: 6;
  background-color: #d3d3d3;
  padding: 2%;
  border-radius: 0.5vw;
  height: 75vh;
  overflow: hidden;
}